@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #10172a;
    --foreground: #dee3e8;
    --green: #5eead4;
    --light-orange: #f7c376;
    --dark-orange: #d28920;
    --brown: #6a4c25;

    --orange-opac: 247, 195, 118;
    --green-opac: 94, 234, 212;
    --background-opac: 16, 23, 42;

    --layout-margin-small: clamp(7rem, 7vw, 12rem);
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-anonymous-pro);
}

h1 {
  font-size: clamp(2.5rem, 3.5vw, 3.6rem);
}

h2 {
  font-size: clamp(2rem, 3vw, 2.8rem);
}

h3 {
  font-size: clamp(1.8rem, 2.5vw, 2.4rem);
}

h4 {
  font-size: clamp(1.6rem, 2vw, 2rem);
}

h5 {
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
}

h6 {
  font-size: clamp(1.2rem, 1.75vw, 1.6rem);
}

p {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}
a {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}

ul {
  li {
    font-size: 1.6rem;
  }
}

.pattern__overlay {
  position: absolute;
  top: auto;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    70deg,
    rgba(var(--background-opac), 1) 0%,
    rgba(var(--background-opac), 0) 95%,
    rgba(var(--background-opac), 0) 100%
  );
  &::before {
    /* left */
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 30%;
    background: linear-gradient(
      90deg,
      rgba(var(--background-opac), 1) 0%,
      rgba(var(--background-opac), 0) 95%,
      rgba(var(--background-opac), 0) 100%
    );
  }
  &::after {
    /* bottom */
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    height: 20%;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(var(--background-opac), 1) 0%,
      rgba(var(--background-opac), 0) 95%,
      rgba(var(--background-opac), 0) 100%
    );
  }
}

/* titles resize on scroll */
@media all and (min-width: 1024px) {
  .main__titles.titles__sticky {
    position: sticky;
    top: 35px;
    .name__title {
      /* position: fixed;
      top: 35px;
      z-index: 100; */
    }
    .fed__title {
      padding-top: 5rem;
      font-size: clamp(6rem, 5.8cqw, 7rem);
    }
  }

  .bio__cta.bio__sticky {
    position: fixed;
    top: 320px;
    margin-top: -40px;
  }

  .bio__cta {
    transition: margin 500ms ease;
  }
  .fed__title {
    transition:
      padding 1000ms ease,
      font-size 1000ms ease;
  }

  /* overlay to hide sticky titles */
  .projects__section {
    background: var(--background);
    overflow: visible;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-100%);
      background: linear-gradient(
        to top,
        rgba(var(--background-opac), 1) 0%,
        rgba(var(--background-opac), 0) 100%
      );

      content: '';
      width: 100%;
      height: 100px;
    }
  }
}
.project__feature__summary__list {
  position: relative;
  overflow-y: auto;
  overflow-x: visible;
  &::-webkit-scrollbar {
    transform: translateX(-100%);
    width: 5.9px;
    height: 4px;
    /* overflow-clip-margin: 20px; */
    background: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 2px;
    height: 20px;
    padding: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
    width: 9px;
    height: 20px !important;
  }
}

.section__title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding-top: 1em;
}

.reset__btn {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  outline: 0;
}

.menu__btn {
  display: flex;
  gap: 20px;
  align-items: center;
  transition: all 400ms ease;
  &:hover {
    .menu__lines {
      span {
        background-color: var(--green);
      }
    }
  }
}
.menu__btn.active {
  .menu__lines {
    span {
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
.menu__lines {
  display: block;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  span {
    display: block;
    width: 2.5rem;
    height: 3px;
    margin: 0.5px 0;
    background: var(--foreground);
    transition: all 0.3s;
  }
}

.menu__list {
  &::before {
    position: absolute;
    content: '';
    top: 100vh;
    left: 0;
    width: 2px;
    height: 0;
    background: var(--green);
    opacity: 0;
    transition:
      opacity 0.4s ease,
      top 0.4s ease,
      height 0.4s ease;
    transition-delay: 500ms;
  }

  &.active {
    &::before {
      height: 100%;
      opacity: 1;
      top: 0;
    }
  }
}

.project__item.swiper-slide {
  width: fit-content;
}
.projects__section {
  .project__swiper {
    overflow: visible;
  }
}

.stack__section {
  overflow: hidden;
  .stack__swiper {
    overflow: visible;
  }
}

#scrollButton {
  transition: 500ms;
  opacity: 0.6;
  a {
    span {
      transition: 300ms;
    }
  }
  &:hover {
    opacity: 1;
    a {
      span {
        transform: translateY(-10%);
      }
    }
  }
}

#scrollButton.scroll__button__hidden {
  opacity: 0;
}
